## **Shubham Satish Ghogare** 
## **Celebal-Assignment_06**
## **TYBTech-IT**
## **Roll No-34**

# **Dataset** **Information**

1)train.tsv contains the phrases and their associated sentiment labels. We have additionally provided a SentenceId so that you can track which phrases belong to a single sentence.
2)test.tsv contains just phrases. You must assign a sentiment label to each phrase.

**The sentiment labels are:**

0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive

In [ ]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

**Loading the dataset**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/Celebal Technology Traning/train.tsv', sep='\t')
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB
None

In [ ]:
print(train_df.shape)

(156060, 4)

In [ ]:
train_df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [ ]:
train_df.describe()

            PhraseId     SentenceId      Sentiment
count  156060.000000  156060.000000  156060.000000
mean    78030.500000    4079.732744       2.063578
std     45050.785842    2502.764394       0.893832
min         1.000000       1.000000       0.000000
25%     39015.750000    1861.750000       2.000000
50%     78030.500000    4017.000000       2.000000
75%    117045.250000    6244.000000       3.000000
max    156060.000000    8544.000000       4.000000

In [ ]:
train_df.isnull().sum()

PhraseId      0
SentenceId    0
Phrase        0
Sentiment     0
dtype: int64

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/Celebal Technology Traning/test.tsv', sep='\t')

In [ ]:
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66292 entries, 0 to 66291
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PhraseId    66292 non-null  int64
 1   SentenceId  66292 non-null  int64
 2   Phrase      66292 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.5+ MB
None

In [ ]:
print(test_df.shape)

(66292, 3)

In [ ]:
test_df.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [ ]:
test_df.describe()

           PhraseId    SentenceId
count   66292.00000  66292.000000
mean   189206.50000  10114.909144
std     19136.99636    966.787807
min    156061.00000   8545.000000
25%    172633.75000   9266.000000
50%    189206.50000  10086.000000
75%    205779.25000  10941.000000
max    222352.00000  11855.000000

In [ ]:
test_df.isnull().sum()

PhraseId      0
SentenceId    0
Phrase        0
dtype: int64

In [ ]:
train_df['Sentiment'].value_counts()

2    79582
3    32927
1    27273
4     9206
0     7072
Name: Sentiment, dtype: int64

In [ ]:
train_df

Warning: total number of rows (156060) exceeds max_rows (20000). Falling back to pandas display.

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [ ]:
test_df

Warning: total number of rows (66292) exceeds max_rows (20000). Falling back to pandas display.

       PhraseId  SentenceId                                             Phrase
0        156061        8545  An intermittently pleasing but mostly routine ...
1        156062        8545  An intermittently pleasing but mostly routine ...
2        156063        8545                                                 An
3        156064        8545  intermittently pleasing but mostly routine effort
4        156065        8545         intermittently pleasing but mostly routine
...         ...         ...                                                ...
66287    222348       11855             A long-winded , predictable scenario .
66288    222349       11855               A long-winded , predictable scenario
66289    222350       11855                                    A long-winded ,
66290    222351       11855                                      A long-winded
66291    222352       11855                               predictable scenario

[66292 rows x 3 columns]

# **Converting Phrases to LowerCas**e

In [ ]:
train_df['Phrase'] = train_df['Phrase'].str.lower()
test_df['Phrase'] = test_df['Phrase'].str.lower()

In [ ]:
train_df

Warning: total number of rows (156060) exceeds max_rows (20000). Falling back to pandas display.

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,a series of escapades demonstrating the adage ...,1
1,2,1,a series of escapades demonstrating the adage ...,2
2,3,1,a series,2
3,4,1,a,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [ ]:
test_df

Warning: total number of rows (66292) exceeds max_rows (20000). Falling back to pandas display.

       PhraseId  SentenceId                                             Phrase
0        156061        8545  an intermittently pleasing but mostly routine ...
1        156062        8545  an intermittently pleasing but mostly routine ...
2        156063        8545                                                 an
3        156064        8545  intermittently pleasing but mostly routine effort
4        156065        8545         intermittently pleasing but mostly routine
...         ...         ...                                                ...
66287    222348       11855             a long-winded , predictable scenario .
66288    222349       11855               a long-winded , predictable scenario
66289    222350       11855                                    a long-winded ,
66290    222351       11855                                      a long-winded
66291    222352       11855                               predictable scenario

[66292 rows x 3 columns]

# **Remove Punctuation**

In [ ]:
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
# Removing punctuations in string
# Using loop + punctuation string
def remove_punct(text):
    for i in text:
        if i in punc:
            text = text.replace(i, "")
    return text

In [ ]:
train_df['Phrase']=train_df['Phrase'].apply(remove_punct) 
test_df['Phrase']=test_df['Phrase'].apply(remove_punct)

In [ ]:
train_df

Warning: total number of rows (156060) exceeds max_rows (20000). Falling back to pandas display.

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,a series of escapades demonstrating the adage ...,1
1,2,1,a series of escapades demonstrating the adage ...,2
2,3,1,a series,2
3,4,1,a,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,hearst s,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

# **Remove stop words** “a”, “the”, “is”, “are”

In [ ]:
pat = r'\b(?:{})\b'.format('|'.join(stop))
train_df['Phrase'] = train_df['Phrase'].str.replace(pat, '')
test_df['Phrase'] = test_df['Phrase'].str.replace(pat,'')
# Same results.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
train_df

Warning: total number of rows (156060) exceeds max_rows (20000). Falling back to pandas display.

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,series escapades demonstrating adage goo...,1
1,2,1,series escapades demonstrating adage goo...,2
2,3,1,series,2
3,4,1,,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,hearst s,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [ ]:
test_df

Warning: total number of rows (66292) exceeds max_rows (20000). Falling back to pandas display.

       PhraseId  SentenceId                                      Phrase
0        156061        8545   intermittently pleasing   routine effort
1        156062        8545    intermittently pleasing   routine effort
2        156063        8545
3        156064        8545    intermittently pleasing   routine effort
4        156065        8545           intermittently pleasing   routine
...         ...         ...                                         ...
66287    222348       11855            longwinded predictable scenario
66288    222349       11855             longwinded predictable scenario
66289    222350       11855                                 longwinded
66290    222351       11855                                  longwinded
66291    222352       11855                        predictable scenario

[66292 rows x 3 columns]

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB